<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle icon-only><ion-icon name='menu'></ion-icon></button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="secondary"><ion-icon name="leaf"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="secondary" (click)="goToAddGallery()"><ion-icon name="md-image"></ion-icon></button>
      <button ion-fab color="secondary" (click)="goToAdd()"><ion-icon name="md-camera"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-content  class="cards-bg">  
      <ion-list ion-row>
          <ion-card class="adv-map" on-tap="openGallery(user)" *ngFor="let user of users">
              <div style="position: relative">
                <img *ngIf="user"  src="{{ user.picture_big }}">      
              </div>
              <ion-item>
                <ion-icon color="subtle" large item-start name='cloud'></ion-icon>
                <h2 style="color:#ccc;">Taxonomia</h2>
                <p>{{ user.name }}</p>
              </ion-item>
              <ion-item>
                <ion-icon color="subtle" large item-start name='leaf'></ion-icon>
                <h2 style="color:#ccc;">Descripcion</h2>               
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
              </ion-item>      
              <ion-item actions>
                <!-- <span ion-text item-start class="item-bold">{{ user.id }}</span>                -->
                <button ion-button color="secondary" clear item-end icon-start>
                  <ion-icon name='leaf'></ion-icon>
                  Detalles
                </button>
              </ion-item>            
            </ion-card>     
      </ion-list>  
  </ion-content>
</ion-content>
